.calculator {
  width: 558px;
  margin: 0 auto;
  padding: 10px;
  background-color: #fff;
}

.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.input {
  grid-column: 1 / span 4;
  height: 70px;
  padding: 10px;
  font-size: 2rem;
  text-align: right;
  color: #fdfdfd;
  border: none;
  outline: none;
  background-color: #858693;
}

.button {
  height: 71px;
  font-size: 1.5rem;
  cursor: pointer;
}

.operator {
  background-color: #ff9800;
}

.zero {
  grid-column: 1 / span 2;
}

.equal {
  grid-column: 4 / span 1;
  background-color: #ff9800;
  border: 1px solid #6c6c6c;
}

.fetch-data {
  text-align: center;
  font-size: 27px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  justify-content: center;
  padding: 40px;
}

.loading {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 27px;
  height: 100vh;
  justify-content: center;
}

.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left-color: #333;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #282c34;
  padding: 1rem 2rem;
  font-size: 18px;
  padding-left: 10rem;
  padding-right: 10rem;
}

.navbar-container h1 {
  color: white;
  margin: 0;
}

.navmenu {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.navmenu li {
  margin-left: 1rem;
}

.navmenu li a {
  color: white;
  text-decoration: none;
  padding: 0.25rem 0.5rem;
  transition: background-color 0.2s;
}

.navmenu li a:hover {
  background-color: #4b4e56;
  border-radius: 4px;
}

/* Responsive styles for tablet and mobile devices */
@media screen and (max-width: 768px) {
  .navbar-container {
    flex-direction: column;
    padding: 1rem;
  }

  .navmenu {
    flex-direction: column;
    align-items: center;
  }

  .navmenu li {
    margin: 0.5rem 0;
  }
}

.homecontainer {
  padding: 40px;
}

.homecontainer p {
  line-height: 28px;
}

main {
  display: flex;
  align-items: flex-start;
  padding: 40px;
}
